.Single {
    display: grid;
    place-items: center;
}

.single-body {
    position: relative;
    min-height: 600px;
    max-width: 750px;
    margin: 0 5vw;
}

.single-header {
    position: inherit;
    top: 120px;
    display: grid;
    grid-template-columns: 140fr 400fr 147fr;
    background-color: white;
    align-items: center;
    border-radius: 6px;
    padding-right: 4.3rem;
    height: 140px;
    width: 100%;
}

.single-header>img {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #E99210;
    border-radius: 6px 0px 0px 6px;
    color: white;
    justify-content: center;
    align-items: center;
}

.single-header-company p {
    color: var(--dark-grey);
}

.single-header-company {
    display: flex;
    flex-direction: column;
    min-height: 56px;
    padding-left: 40px;
}

.single-article {
    margin-top: 153px;
    padding: 48px 46px;
    background-color: white;
    width: 100%;
    border-radius: 6px;
}

.single-article-apply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.1rem;
}

@media screen and (max-width:750px) {
    .single-header {
        top: 140px;
        place-items: center;
        position: relative;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        width: 100%;
        min-height: 20.5rem;
        padding: 5rem 0;
        text-align: center;
    }

    .single-header>img {
        position: absolute;
        top: -27px;
        width: 10%;
        height: auto;
        border-radius: 15px;
    }

    .single-header-company {
        padding-left: 0;
    }

    .single-header-company>h1 {
        padding-bottom: 1rem;
    }

    .single-header-company>p {
        font-size: 1.5rem;
    }

    .single-article {
        margin-top: 180px;
    }

    .single-article-apply {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 17.5rem;
    }

    .single-btn-apply {
        width: 100%;
    }

    .single-article-btn {
        width: 100%;
    }
}


.single-article>p {
    padding-bottom: 4rem;
}

.single-article>p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width:500px) {
    .single-header>img {
        position: absolute;
        top: -9%;
        max-width: 15%;
        height: auto;
        border-radius: 15px;
    }
}

article>ul,
article>ol {
    color: var(--dark-grey);
    font-size: var(--p);
    margin: 0;
    padding: 0 0 2rem 1rem;


}

article>ul>li>p,
article>ol>li>p {
    line-height: 2.6rem;
    padding-left: 3.2rem;

}

.single-location {
    color: var(--violet);
}