.logo {

    z-index: 2;

}

.logo>h1 {
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin: 0;
}

.topbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 46px 165px;
    justify-content: space-between;
    height: 162px;
    z-index: 1;

}

.topbar-img {
    position: absolute;
    height: 162px;
    width: 100%;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .topbar-img {
        min-width: 800px;
        max-height: 175px;
    }
}

.toggle-button {
    display: flex;
    width: 112px;
    justify-content: space-between;
    align-items: center;

}

.sun {
    width: 20px;
    height: 18.5px;
    z-index: 2;
}

.moon {
    width: 12px;
    height: 12px;
    z-index: 2;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 5px;
    background-color: #5964E0;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #ccc;
}

input:focus+.slider {
    box-shadow: 0 0 1px #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


@media screen and (max-width: 600px) {

    .topbar {
        padding: 0 0 35px 0;
        justify-content: space-around;
        align-items: center;
    }
}