.NewSingle {
    width: 100vw;
    display: grid;
    place-items: center;
}

.new-single-body {
    min-height: 600px;
    display: grid;
    place-items: center;
    margin: auto;
    padding-bottom: 8rem;
}

.new-single-form {
    margin-top: 23rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 3rem;
    align-items: center;
    border-radius: 12px;
}

.new-single-form>label {
    display: flex;
    align-self: flex-start !important;
    padding: 1rem 0 1rem 4rem;
}

.new-single-form>input {
    min-height: 60px;
    width: 70%;
    padding: 1rem;
}

.new-single-form>textarea {
    min-width: 70%;
    max-width: 100%;
    min-height: 200px;
}

.dark>input,
.dark>textarea {
    background-color: rgba(255, 255, 255, 0.3) ! important;
}

@media screen and (max-width: 768px) {
    .new-single-form {
        width: 90%;
    }
}

.back-home {
    position: absolute;
    top: 17rem;
    left: 10rem;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 6px;
    font-size: 2rem;
    font-weight: 700;

}