.relative {
    position: relative
}

.add-job-btn {
    position: absolute;
    top: 23rem;
    left: calc(50vw - 60px);
}

.admin-back-home {
    position: absolute;
    top: 23rem;
    left: 30rem;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 6px;
    font-size: 2rem;
    font-weight: 700;

}