.cards {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 6rem;
    max-width: 1400px;
    margin-right: 5vw;
    margin-left: 5vw;
    transition: all 0.5s ease-in-out;
    min-height: auto;
    margin-top: 240px;
}

.btn-center {
    display: flex;
    justify-content: center;
    padding: 106px;
}

@media (max-width:1077px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        min-width: 700px;
    }
}

@media (max-width:780px) {
    .cards {
        grid-template-columns: 1fr;
        min-width: 300px;
    }

}